@import "./_colors.scss";

$font-size: 42px;

.no-margin {
  margin: 0px;
}

.light {
  background-color: $light-background-default;
  color: $light-text-default;
}

.dark {
  background-color: $dark-background-default;
  color: $dark-text-default;
}

.example {
  font-size: $font-size;
  text-align: center;
}
